@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	var title = Umbraco?.ContentAtRoot()?.Where(x => x.ContentType.Alias == "home")?
								.FirstOrDefault()?.DescendantsOrSelf()?
								.Where(x => x.ContentType.Alias == "contentMenu")
								.OfType<ContentMenu>().FirstOrDefault();


	var ageGroups = Umbraco?.ContentAtRoot()?.Where(x => x.ContentType.Alias == "home")?.FirstOrDefault().DescendantsOrSelf()?
							.Where(x => x.ContentType.Alias == "worksheetListingAgeWise")?.OfType<WorksheetListingAgeWise>();


	var pageName = UmbracoContext.PublishedRequest.PublishedContent.Name;
}

<input type="hidden" id="pageName" value="@pageName" />
<div class="leftFltr">
	<div class="mob-fliter">@title.FilterText</div>
	<div class="fltrBx">
		<div class="fltrInr">
			<div class="vwAll">
				<div class="fltrTxt">@title.FiltersText</div>
				<label for="all">
					<a class="aFilterReset" onclick="WorksheetReset();"><span>@title.ResetButton</span></a>

				</label>
			</div>

			<div class="fltrBxin">

				<div class="acrd">
					<h3 class="acrdHd">@title.SelectAge</h3>
					<div class="chchlist">

						<div class="chchlistin">
							@if (ageGroups != null && ageGroups.Any())
							{
								int row = 0;
								foreach (var age in ageGroups)
								{
									<div class="chkBxItem chkBxItemWht">
										<div class="cstm-chckbx">
											<label for="@("chkSubcatId_" + row)">
												<input type="checkbox"
													   name="classes"
													   value="@age.AgeGroup.Name"
													   id="@("chkSubcatId_" + row)"
													   class="checbx chkFilterSubCategory classes" />
												<strong class="chkInf"></strong>
												<span>@Umbraco.Content(age.AgeGroup.Udi).Value("alternateItemName")</span>
											</label>
										</div>
									</div>
									row++;
								}
							}

							<div class="doneBtn">
								<a href="javascript:void(0);" class="btn" onclick="commonLayer('@pageName','@title.DoneTitle')">@title.DoneTitle</a>
							</div>
						</div>

					</div>
				</div>


				<div class="moreChkList" style="display:none;">

					<div class="chchlistin">

						<div class="chkBxItem chkBxItemWht">
							<div class="cstm-chckbx">
								<label for="CbseContent">
									<input type="checkbox"
										   value="1"
										   id="CbseContent"
										   name="CbseContent"
										   class="checbx chkFilterSubCategory CbseContent" />
									<strong class="chkInf"></strong>
									<span>@title.IncludeCbsecontent</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="filtrActn">
				<button type="button" id="filterApply" class="btn btnblue applyBtn">@title.ApplyButtonText</button>
			</div>
			<div>
				<span class="error" id="validation" style="display:none;">@title.ValidationContent</span>
			</div>
		</div>


	</div>
</div>
@*<div class="title-fltr">
		<div class="fltr-col">
			<div class="fltr-close"><img src="/common/images/close-btn-fltr.png" width="15" height="15"></div>
			<div class="fltr-box wdt-age">
				@if (WorkSheetFilter.Where(x => x.FilterTag.ToLower().Contains("age")).FirstOrDefault() != null)
				{
					<select name="vrAgrGroupe" id="vrAgrGroupe" multiple class="select-age">
					</select>
				}
			</div>
			<div class="fltr-box wdt-age">
				@if (WorkSheetFilter.Where(x => x.FilterTag.ToLower().Contains("weeks")).FirstOrDefault() != null)
				{
					<select name="vrVolumeGroupe" id="vrVolumeGroupe" multiple class="select-week">
					</select>
				}
			</div>
			<div class="fltr-box wdt-age">
				@if (WorkSheetFilter.Where(x => x.FilterTag.ToLower().Contains("cat")).FirstOrDefault() != null)
				{
					<select name="vrCategories" id="vrCategories" multiple class="select-category">
					</select>
				}
			</div>
		</div>

		<button id="searchReset" class="aResetAll reset-btn" onclick="WorksheetReset();" type="button" value="Reset">@title</button>

	</div>*@
