@inherits Umbraco.Web.Mvc.UmbracoViewPage<HPPlc.Models.WorkSheet.WorkSheetModel>
@using HPPlc.Models.WorkSheet;
@using System.Globalization;

@{
	var model = Model;
	string pageName = HPPlc.Models.GetPageName.pagename();

	string classForQuiz = string.Empty;
	bool tobeDisplayQuiButton = false;

	bool UserLoggedInOrNot = HPPlc.Models.SessionExpireAttribute.UserLoggedIn();
}
@if (model != null && Model.WorkSheets != null && Model.WorkSheets.Any() && Model.WorkSheets.Count() > 0)
{
	foreach (WorkSheetItems item in Model.WorkSheets)
	{
		foreach (NestedItems nested in item?.NestedItems)
		{
			if (nested.IsQuizWorksheet == true && (nested.subscriptionStatus.Condition1 == true || nested.subscriptionStatus.Condition3 == true || nested.subscriptionStatus.Condition4 == true || nested.subscriptionStatus.Condition5 == true))
			{
				tobeDisplayQuiButton = true;
				//classForQuiz = "btn-half";
			}
			else
			{
				tobeDisplayQuiButton = false;
				//classForQuiz = "btn-full";
			}

			var detailData = string.Empty;
			if (!string.IsNullOrEmpty(item.Title))
			{
				detailData = item.Title;
			}
			if (!string.IsNullOrEmpty(nested.Volume))
			{
				detailData = detailData + "-" + nested.Volume;
			}
			if (!string.IsNullOrEmpty(nested.Subject))
			{
				detailData = detailData + "-" + nested.Subject;
			}

			<div class="dtls-lft">
				<div class="dtls-thum">

					<div class="card-img">
						<div class="cardImgPlchldr">
							<picture>
								@if (!String.IsNullOrWhiteSpace(nested.MobileImagesSrc))
								{
									<source class='b-lazy' alt="@nested.MobileAltText" data-src="@nested.MobileImagesSrc" src="/common/images/img-loader.gif" media="(max-width: 680px)" />
								}

								@if (!String.IsNullOrWhiteSpace(nested.MobileNextGenImage))
								{
									<source data-srcset="@nested.MobileNextGenImage" srcset="/common/images/img-loader.gif" type='image/webp' media="(max-width: 680px)" />
								}

								@if (!String.IsNullOrWhiteSpace(nested.NextGenImage))
								{
									<source data-srcset="@nested.NextGenImage" srcset="/common/images/img-loader.gif" type='image/webp' />
								}

								@if (!String.IsNullOrWhiteSpace(nested.ImagesSrc))
								{
									<img class='b-lazy imgPlacing' alt="@nested.AltText" src='/common/images/img-loader.gif' data-src='@nested.ImagesSrc' width="1" height="1" />
								}
							</picture>
							</div>
							@if (nested.IsQuizWorksheet == true)
							{
								<a href="javascript:void(0);" class="quizLabl">Quiz</a>
							}

							@if (!String.IsNullOrWhiteSpace(nested.PreviewPdf))
							{
								<a href="@nested.PreviewPdf" target="_blank" class="prevOverlyBx" onclick="commonLayer('@pageName','@(detailData + "-PreviewPDF")');">
									<span><img src="/common/images/icon-pdf.png" width="1" height="1" alt=""> Click to see preview</span>
								</a>
							}

						</div>
					</div>
			</div>

			<div class="dtls-rit">
				<div class="dtls-cont">
					@*<div class="dtls-title">@nested.Volume <span>@nested.Subject</span> </div>*@
					<div class="dtls-title">@nested.Topic </div>
					@*<div class="dtls-quiz">
						
						@if (nested.IsQuizWorksheet == true && tobeDisplayQuiButton == true)
							{
								<span>Quiz</span>
							}
					</div>*@
					@Html.Raw(nested.WorksheetDetailsDescription)
					<div class="dtls-printshare">

						@if (nested.socialItems != null && (nested.socialItems.FBShare != null || nested.socialItems.EmailShare != null || nested.socialItems.WhatAppShare != null))
						{
							<div class='print-col'><a class='clsPrintDoc'><span style='display:none;'>@nested.subscriptionStatus.DownloadString</span><span style='display:none'>@detailData</span></a><em>Print</em></div>

							var detailShareData = string.Empty;
							try
							{
								if (!string.IsNullOrEmpty(item.Title))
								{
									detailShareData = item.Title;
								}
								if (!string.IsNullOrEmpty(nested.Volume))
								{
									detailShareData = detailShareData + "-" + nested.Volume;
								}
								if (!string.IsNullOrEmpty(nested.Description.ToString()))
								{
									System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
									string dtls = rx.Replace(nested.Description.ToString(), "").Replace("\n", "");

									detailShareData = detailShareData + "-" + dtls;
								}
							}
							catch { }

							<div class="card-social-icon">
								<div class="share-icon">
									<em>Share</em>
									<div class="share-box">

										<ul>
											@if (nested.socialItems.FBShare != null)
											{
												<li><a href='javascript:void(0)' class='fb-icon aFBShare' onclick="commonShareLayer('Share_facebook','@detailShareData');"><span style='display:none'>@nested.socialItems.FBShare</span></a></li>
											}
											@if (nested.socialItems.WhatAppShare != null)
											{
												<li>
													<a href='javascript:void(0)' class='whatsapp-icon aWHTAppSH' onclick="commonShareLayer('Share_whatsapp','@detailShareData');">
														<span style='display:none'>
															@nested.socialItems.WhatAppShare
														</span>
													</a>
												</li>
											}
											@if (nested.socialItems.EmailShare != null)
											{
												<li>
													<a href='javascript:void(0)' class='mail-icon aMailSh' onclick="commonShareLayer('Share_mail','@detailShareData');">
														<span style='display:none'>
															@nested.socialItems.EmailShare
														</span>
													</a>
												</li>
											}

										</ul>
									</div>
								</div>
							</div>
						}


					</div>
					<div class='dtls-btn'>
						@if (nested.subscriptionStatus != null)
						{
							string culture = HPPlc.Models.CultureName.GetCultureName().Replace("/", "");
							if (String.IsNullOrWhiteSpace(culture))
							{ culture = "en-US"; }

							System.Threading.Thread.CurrentThread.CurrentUICulture = new CultureInfo(culture);
							string downloadButton = String.Empty;
							if (UserLoggedInOrNot == true)
							{
								downloadButton = Umbraco.GetDictionaryValue("Download Button");
							}
							else
							{
								downloadButton = Umbraco.GetDictionaryValue("FreeDownload");
							}

							string subscribeToDownload = Umbraco.GetDictionaryValue("Subscribe to download");
							string upgradeToPremium = Umbraco.GetDictionaryValue("Upgrade to Premium");
							string buyNewSubscription = Umbraco.GetDictionaryValue("BuyNewSubscription");

							//string asf = HPPlc.Models.clsCommon.GetDictionaryValueForLanguage("Download Button",null,null);

							//var detailData = item.Title + "-" + nested.Volume + "-" + nested.Category;

							if (nested.subscriptionStatus.Condition1)
							{
								<div class="btn-col @classForQuiz">
									<a href="@nested.subscriptionStatus.DownloadUrl" class='btn downllink' onclick="return addDownloadDataLayer('@detailData','@downloadButton','@pageName');">@downloadButton <span class='download-icon'></span></a>
								</div>

								@*<div class='print-col'><a class='clsPrintDoc'><span style='display:none;'>@nested.subscriptionStatus.DownloadString</span><span style='display:none'>@detailData</span></a></div>*@
							}
							//2. if user not loggedin and worksheet not mapped with isguestuser true
							else if (nested.subscriptionStatus.Condition2)
							{
								<div class='btn-col @classForQuiz'>
									<a href="javascript:void(0)" class='btn subs-downllink dvdatalayer' onclick="addSubscribeDataLayer('@detailData','@subscribeToDownload','@nested.subscriptionStatus.SubscriptionUrl','@pageName');">@subscribeToDownload <span class='download-icon'></span></a>
								</div>
							}
							// 3.1 if User have free subscription and have referral
							else if (nested.subscriptionStatus.Condition3)
							{
								<div class='btn-col @classForQuiz'>
									<a href="@nested.subscriptionStatus.DownloadUrl" class='btn downllink' onclick="return addDownloadDataLayer('@detailData','@downloadButton','@pageName');"> @downloadButton<span class='download-icon'></span></a>
								</div>
								@*<div class='print-col'><a class='clsPrintDoc'><span style='display:none;'>@nested.subscriptionStatus.DownloadString</span><span style='display:none'>@detailData</span></a></div>*@
							}
							// 3.2 if User have loggedin and age group is same with worksheet and worksheet is free
							else if (nested.subscriptionStatus.Condition4)
							{
								<div class='btn-col @classForQuiz'>
									<a href="@nested.subscriptionStatus.DownloadUrl" class='btn downllink' onclick="return addDownloadDataLayer('@detailData','@downloadButton','@pageName');"> @downloadButton <span class='download-icon'></span></a>
								</div>
								@*<div class='print-col'><a class='clsPrintDoc'><span style='display:none;'>@nested.subscriptionStatus.DownloadString</span><span style='display:none'>@detailData</span></a></div>*@
							}
							else if (nested.subscriptionStatus.Condition5)
							{
								<div class='btn-col @classForQuiz'>
									<a href="@nested.subscriptionStatus.DownloadUrl" class='btn downllink' onclick="return addDownloadDataLayer('@detailData','@downloadButton','@pageName');"> @downloadButton <span class='download-icon'></span></a>
								</div>
								@*<div class='print-col'><a class='clsPrintDoc'><span style='display:none;'>@nested.subscriptionStatus.DownloadString</span><span style='display:none'>@detailData</span></a></div>*@
							}
							else if (nested.subscriptionStatus.Condition6)
							{
								<div class='btn-col @classForQuiz'>
									<a href="javascript:void(0)" class='btn subs-downllink dvdatalayer' onclick="addSubscribeDataLayer('@detailData','@upgradeToPremium','@nested.subscriptionStatus.SubscriptionUrl','@pageName');"> @upgradeToPremium <span class='download-icon'></span></a>
									@*<span style='display:none'>@nested.subscriptionStatus.SubscriptionUrl</span>*@
								</div>
							}
							else if (nested.subscriptionStatus.Condition7)
							{
								<div class='btn-col @classForQuiz'>
									<a href="javascript:void(0)" class='btn subs-downllink dvdatalayer' onclick="addSubscribeDataLayer('@detailData','@buyNewSubscription','@nested.subscriptionStatus.SubscriptionUrl','@pageName');"> @buyNewSubscription <span class='download-icon'></span></a>
									@*<span style='display:none'>@nested.subscriptionStatus.SubscriptionUrl</span>*@
								</div>
							}
							else if (nested.subscriptionStatus.Condition8)
							{
								<div class='btn-col @classForQuiz'>
									<a href="javascript:void(0)" class='btn subs-downllink dvdatalayer' onclick="addSubscribeDataLayer('@detailData','@buyNewSubscription','@nested.subscriptionStatus.SubscriptionUrl','@pageName');"> @buyNewSubscription <span class='download-icon'></span></a>
									@*<span style='display:none'>@nested.subscriptionStatus.SubscriptionUrl</span>*@
								</div>
							}
							else if (nested.subscriptionStatus.Condition9)
							{
								<div class='btn-col @classForQuiz'>
									<a href="javascript:void(0)" class='btn subs-downllink dvdatalayer' onclick="addSubscribeDataLayer('@detailData','@buyNewSubscription','@nested.subscriptionStatus.SubscriptionUrl','@pageName');"> @buyNewSubscription <span class='download-icon'></span></a>
									@*<span style='display:none'>@nested.subscriptionStatus.SubscriptionUrl</span>*@
								</div>
							}
							else
							{
								<div class='btn-col @classForQuiz'>
									<a href="javascript:void(0)" class='btn subs-downllink dvdatalayer' onclick="addSubscribeDataLayer('@detailData','@buyNewSubscription','@nested.subscriptionStatus.SubscriptionUrl','@pageName');"> @buyNewSubscription <span class='download-icon'></span></a>
									@*<span style='display:none'>@nested.subscriptionStatus.SubscriptionUrl</span>*@
								</div>
							}

							if (nested.IsQuizWorksheet == true && tobeDisplayQuiButton == true)
							{
								<div class="btn-col @classForQuiz">
									<a href="" class="btn secndryBtn downllink">Launch Quiz <span class="download-icon"></span></a>
								</div>
							}
						}
					</div>

				</div>
			</div>
		}
	}
}