@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "masterpage.cshtml";

	//Check user loggedin or not
	HPPlc.Models.SessionExpireAttribute.CheckUserLoggedIn();

	//title and validation
	var titleData = Model?.DescendantsOrSelf()?.OfType<ChangePassword>()?.FirstOrDefault();

	var emailId = HPPlc.Models.SessionManagement.GetCurrentSession<string>(HPPlc.Models.SessionType.emailid);
	var UserUniqueId = HPPlc.Models.SessionManagement.GetCurrentSession<string>(HPPlc.Models.SessionType.UserUniqueId);
}

<input type="hidden" value="@UserUniqueId" id="txtusercode" />
<div class="main-wrp">
	<div class="container-grey">
		<div class="container-box">
			<div class="container-inr">
				<div class="subscription-block-set">

					<div class="subinr subinrfulw nopadding">
						<div class="signin-section accountFrm">
							<form method="POST" id="passwordForm" autocomplete="off">
								@Html.AntiForgeryToken()
								<div class="signin-form">
									<div class="signin-forminner">
										<h2>@titleData.PageTitle</h2>
										<div class="cmn-inpval">
											@if (emailId != null)
											{
												<input type="text" readonly="readonly" value="@HPPlc.Models.clsCommon.Decrypt(emailId)" />
											}
										</div>
										<div class="cmn-inpval">
											<label>@titleData.CurrentPasswordTitle</label>
											<div class="pass-box">
												<input type="password" id="currentpassword" name="currentpassword" maxlength="15" autocomplete="off" oncopy="return false" onpaste="return false" />
												<i class="fa-eye" onClick="showPass('currentpassword')"></i>
												<span id="currentpasswordRequired" class="error" style="display:none;">@titleData.CurrentPasswordRequired</span>
											</div>
										</div>

										<div class="cmn-inpval">
											<label>@titleData.NewPasswordTitle</label>
											<div class="pass-box">
												<input type="password" id="newpassword" name="newpassword" maxlength="16" autocomplete="off" oncopy="return false" onpaste="return false" />
												<i class="fa-eye" onClick="showPass('newpassword')"></i>
												<span id="passwordRequired" class="error" style="display:none;">@titleData.NewPasswordRequired</span>
												<span id="passwordLengthRequired" class="error" style="display:none;">@titleData.NewPasswordLengthRequired</span>
												<span id="passwordValidate" class="error" style="display:none;">@titleData.NewPasswordFormatRequired</span>
											</div>
										</div>

										<div class="cmn-inpval">
											<label>@titleData.ConfirmNewPasswordTitle</label>
											<div class="pass-box">
												<input type="password" id="confirmnewpassword" name="confirmnewpassword" maxlength="16" autocomplete="no" oncopy="return false" onpaste="return false" />
												<i class="fa-eye" onClick="showPass('confirmnewpassword')"></i>
												<span id="confirmpasswordRequired" class="error" style="display:none;">@titleData.ConfirmNewPasswordRequired</span>
												<span id="confirmpasswordValidate" class="error" style="display:none;">@titleData.PasswordMatchingMessage</span>
											</div>
										</div>
										<div>
											<span class="error" id="msgBox"></span>
										</div>
										<div class="signin-btn">
											<button id="changePassword" type="button" class="btn">@titleData.SubmitButtonTitle</button>
										</div>
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section CustomJsFiles
{
	<script src="/MyScripts/ChangePassword.js"></script>

}