@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "masterpage.cshtml";

	string UserName = String.Empty;

	//if user loggedin then redirecting on home page
	bool IsUserLoggedIn = HPPlc.Models.SessionExpireAttribute.UserLoggedIn();
	if (IsUserLoggedIn == true)
	{
		Response.Redirect("/", false);
	}

	//title and validation
	var titleData = Model?.DescendantsOrSelf()?.OfType<ForgotPassword>()?.FirstOrDefault();

	//HPPlc.Models.HPUId.LoginUserInfoResponce loginuserInfoResponce = new HPPlc.Models.HPUId.LoginUserInfoResponce();
	var loginuserInfoResponce = HPPlc.Models.SessionManagement.GetCurrentSession<string>(HPPlc.Models.SessionType.HpIdSession);
	HPPlc.Models.Validate validate = new HPPlc.Models.Validate();

	if (loginuserInfoResponce != null)
	{
		if (validate.ValidateEmail(loginuserInfoResponce) == true)
		{
			UserName = loginuserInfoResponce;
		}

		else if (validate.ValidateMobile(loginuserInfoResponce) == true)
		{
			UserName = loginuserInfoResponce;
		}
	}

	//string GoogleCapchaKey = System.Web.Configuration.WebConfigurationManager.AppSettings["recaptchaPublickey"];
}

<input type="hidden" id="oTPAttemptMaximumLimit" value="@titleData.OTpsubmitButtonTitle" />
<input type="hidden" id="pageId" value="forgot" />

<div class="main-wrp">
	<div class="container-grey">
		<div class="container-box">
			<div class="container-inr">
				<div class="subscription-block-set">
					<div class="subinr subinrfulw nopadding">
						<form method="POST" id="passwordForm" autocomplete="off">
							@Html.AntiForgeryToken()
							<div class="signin-section accountFrm">

								<!--Forgot form start-->
								<div class="signin-form" id="step-1">
									<div class="signin-forminner">
										<h2>@titleData.PageTitle</h2>
										<div class="cmn-inpval">
											<label>@titleData.UserNameTitle</label>
											<input type="text" id="username" name="username" tabindex="1" value="@UserName" maxlength="200" autocomplete="off" oncopy="return false" onpaste="return false" />
											<span class="error" id="usernameRequired" style="display:none;">@titleData.UserNameRequired</span>
											<span class="error" id="usernameFormat" style="display:none;">@titleData.UserNameFormat</span>
										</div>

										<div>
											<span class="error" id="otpMg"></span>
										</div>

										<div class="signin-btn">
											<button id="generateOtp" class="btn subm-step1" tabindex="2" type="button" value="Submit">@titleData.GenerateOtpbuttonTitle</button>
										</div>
									</div>
								</div>
								<!--Forgot form end-->
								
								<div>
									<span class="error" id="otpBox" style="display:none"></span>
									
								</div>

								<div class="dont-hacc">
									<h3>@titleData.DonThaveAnAccountTitle</h3>
									<div class="create-account"> <a href="/my-account/registration" onclick="commonLayer('ForgotPassword', 'Registration Button Click')">@titleData.CreateAccountTitle</a> </div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section CustomJsFiles
{
	@*<script src='https://www.google.com/recaptcha/api.js' async defer></script>*@
	<script src="/MyScripts/ForgotPassword.js?v=5"></script>
	
	@*<script type="text/javascript">
			$(document).ready(function () {
				$(".subm-step1").click(function () {
					$("#step-1").hide();
					$("#step-2").show();
				});
				$(".subm-step2").click(function () {
					$("#step-2").hide();
					$("#step-3").show();
				});

			})
		</script>*@
}