@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "masterpage.cshtml";

	//if user loggedin then redirecting on home page
	bool IsUserLoggedIn = HPPlc.Models.SessionExpireAttribute.UserLoggedIn();

	HPPlc.Models.TempUserJourneyDtls tempUserJourneyDtls = new HPPlc.Models.TempUserJourneyDtls();
	tempUserJourneyDtls = HPPlc.Models.SessionManagement.GetCurrentSession<HPPlc.Models.TempUserJourneyDtls>(HPPlc.Models.SessionType.TempUserDetails);
	if (IsUserLoggedIn == true || tempUserJourneyDtls == null)
	{
		Response.Redirect("/", false);
	}

	var titleData = Model?.DescendantsOrSelf()?.OfType<SetPassword>()?.FirstOrDefault();
}


<div class="main-wrp">
	<div class="container-grey">
		<div class="container-box">
			<div class="container-inr">
				<div class="subscription-block-set">

					<div class="subinr subinrfulw nopadding">
						<div class="signin-section">

							<form method="POST" id="passwordset" autocomplete="off" autofill="off">
								@Html.AntiForgeryToken()

								<div class="signin-form">
									<h2>@titleData.PageTitle</h2>
									<p class="ritListingPlcTop"></p>
									<div class="cmn-inpval setpassword">

										<div class="pass-box">
											<label>@titleData.EnterPasswordTitle<sup class="mandatory">*</sup></label>
											<input type="password" class="enterEvent" id="yourpwdhere" name="yourpwdhere" tabindex="1" maxlength="15" autocomplete="false" autofill="off" oncopy="return false" onpaste="return false" />
											<i class="fa-eye" onClick="showPass('yourpwdhere')"></i>
											<span class="error" id="yourpwdhereReq" style="display:none;">@titleData.PasswordRequired</span>
											<span class="error" id="yourpwdhereReqFormat" style="display:none;">@titleData.PasswordFormatting</span>
										</div>

									</div>
									<div class="cmn-inpval setpassword">
										<div class="pass-box">
											<label>@titleData.ConfirmPasswordTitle <sup class="mandatory">*</sup></label>
											<input type="password" class="enterEvent" id="yourconfirmpwdhere" name="yourconfirmpwdhere" tabindex="6" maxlength="15" autocomplete="false" autofill="off" oncopy="return false" onpaste="return false" />
											<i class="fa-eye" onClick="showPass('yourconfirmpwdhere')"></i>
											<span class="error" id="yourconfirmpwdhereReq" style="display:none;">@titleData.ConfirmPasswordEqualWithPassword</span>
										</div>
									</div>

									<div>
										<span id="Msg" class="error" style="display:none;"></span>
									</div>
									<div class="sub-savecancel">
										<div class="subsave-btns">
											<button id="SetPassword" type="button" style="cursor:pointer;" class="btn" tabindex="15">@titleData.SubmitButtonTitle</button>
										</div>
									</div>

								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section CustomJsFiles
{
	<script src="/MyScripts/SetPassword.js"></script>
}
