@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "masterpage.cshtml";
	var CultureInfo = Model.GetCultureFromDomains();
	var className = Umbraco.Content(Model?.Parent?.DescendantsOrSelf()?.OfType<SpecialOfferAge>()?.FirstOrDefault()?.ClassName?.Udi)?
										.DescendantsOrSelf()?.OfType<NameListItem>()?.FirstOrDefault();

	string qtype = String.Empty;
	qtype = Model.Id.ToString();

	var offerName = Model?.Parent?.Parent?.DescendantsOrSelf()?.OfType<SpecialOffersRoot>()?
				.FirstOrDefault()?.OfferName;

	bool IsUserLoggedIn = HPPlc.Models.SessionExpireAttribute.UserLoggedIn();
	if (IsUserLoggedIn == false)
	{
		HPPlc.Models.SessionManagement.StoreInSession(HPPlc.Models.SessionType.SplRedirection, Request.Path);
	}
	else
	{
		HPPlc.Models.SessionManagement.DeleteFromSession(HPPlc.Models.SessionType.SplRedirection);
	}
}

<input type="hidden" id="hdnWorksheet" value="@Model.Id" />
<input id="hdnCultureInfo" type="hidden" value="@CultureInfo" />
<input id="hdnqtype" type="hidden" value="@qtype" />
<input id="page" type="hidden" value="SpecialOffer" />
<input id="filterType" type="hidden" value="list" />
<input id="closeDesc" type="hidden" value="Close Special Offer Program Login" />
<input id="hdnoffername" type="hidden" value="@offerName" />

<div class="main-wrp">

	@Html.Partial("_Breadcrumb")

	<div class="container-fluid">
		<div class="container-box">
			<div class="container-inr">
				<div class="dtls-wrp">
					<h1>@(className?.AlternateItemName)</h1>
					<div class="dtls-row dtls-pdf-wsheet" id="WorksheetSingle">

					</div>
				</div>
			</div>
		</div>
	</div>


	@Html.Partial("~/Views/Partials/Login/_payLogicSpecialOffer.cshtml")
</div>




@section CustomJsFiles
{
	@*<script type="text/javascript" src="/CustumJs/FilterTeachersProgram.js"></script>*@
	<script type="text/javascript" src="~/CustumJs/SpecialOffers/WorksheetSpecialOfferDetails.js"></script>
	<script src="../lib/webviewer.min.js" type="text/javascript"></script>
}


